body {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
}

.footer {
  background-color: #84a9ac;
  font-size: medium;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  margin: 0px;
  background: #3b6978;
  color: floralwhite;
}

.navbar-dark {
  margin: 0px;
  background-color: #204051;
}

.header {
  height: 50px;
  font-size: medium;
}
